<div id="content">
  <div class="center">
    <h1 id="header-margin" class="mat-display-2">Hello, my name is Leonid</h1>
    <h5 class="mat-headline">I am a full stack developer</h5>
  </div>

  <div parallax [config]="{initialValue: -100, ratio: .7}" id="parallax-1" class="center"></div>

  <div class="center">
    <h2 id="title-margin" class="mat-headline">About me</h2>
    <p class="mat-body-1" id="content-para">
      I am a software Engineer who is interested in many fields of software development. I have experience with embedded software,
      application development and web development(frontend/backend). I have played around and have interest in computer vision,
      machine learning and game development to name some. Hope you enjoy my website stranger from the internet :)
    </p>
  </div>

  <div parallax [config]="{initialValue: -100, ratio: .7}" id="parallax-2" class="center"></div>


  <div class="center">
    <h2 id="title-margin" class="mat-headline">Want to get in touch?</h2>
    <p class="mat-body-1">
      You can contact me using the links below or head over to the
      <a routerLink="/Contact">Contact</a> page to message me.
    </p>
  </div>

</div>