<mat-toolbar color="primary">
  <mat-toolbar-row id="content-side-space">
    <div>Hope you enjoyed your stay.</div>
    <span class="spacer"></span>


  </mat-toolbar-row>

  <mat-toolbar-row id="content-side-space">
    <a mat-button href="https://www.linkedin.com/in/leonidsou">
      <fa [name]="'linkedin'" [size]="2"></fa>
    </a>
    <a mat-button href="https://github.com/alpha-rain">
      <fa [name]="'github'" [size]="2"></fa>
    </a>
    <a mat-button href="mailto:leonid@leonidsou.com">
      <fa [name]="'envelope'" [size]="2"></fa>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row id="content-side-space">
    <span class="mat-subheading-2">© 2018 Leonid Soukhankine</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>